<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Market</title>
</head>
<body>

<div class="container">
    <div>
        <h1>Thug Market</h1>
        <p>Member</p>
        <p>
            <a href="/members/new">sign up</a>
            <a href="/members/login">log in</a>

        </p>
    </div>
</div>


</body>
</html>